body{
    background-color: green; 

}

.background {
    background-image: url('pingouin.png');
    background-repeat: no-repeat, repeat;
    background-attachment: fixed;
    background-size: cover, 420px auto;
    background-position: top;
}

.bordure_saumon {
    background-color:salmon;
    opacity:80%;
}

.bordure_rouge {
    background-color:red;
    opacity:50%;
    margin:40px;
}

.pingouin {
    background-image : url("pingouin.png"); 
    background-repeat: no-repeat ;
    background-attachment: fixed;
    background-position: center;
}

.titre {
     font-size: 40px;
    color : #9400d3;
    margin-bottom:20px;
    margin-top:20px;
}

h2{
    color : white   ;
}

h1{
  font-size: 30px;
    color : white;
    margin-bottom:10px;
    margin-top:10px;  
}
.italique{
    font-style: italic;
}
p{
    color : white;
    font-size: 20px;
}
.liens{
    font-size: 28px;
    font-style: italic;
}

